<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <mat-toolbar color="accent">
  <span>ONLINE TEST PORTAL</span>
</mat-toolbar> -->
<mat-toolbar color="accent" class="center-text" fxLayout="row" fxLayoutAlign="center center">
  <span>MCQ TEST PORTAL</span>
</mat-toolbar>

<!-- <li><a routerLink="/question-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li> -->
<!-- <app-home></app-home> -->
<!-- <app-data-display></app-data-display> -->
<router-outlet></router-outlet>